body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-color: #202020;
	display: flex;
	overflow-x: hidden;
}

.block {
	display: block;
}

.rockets-red {
	background-color: #CE1141;
}

.rockets-dark-red {
	background-color: #B90F3A;
}

.max-img {
	max-height: 95%;
	max-width: 95%;
}

.near-max-img {
	max-height: 85%;
	max-width: 85%;
}

.mid-img {
	height: 66%;
}

/* W3Schools = https://www.w3schools.com/cssref/pr_class_visibility.asp */
.hide {
	visibility: hidden;
}

.none {
	display: none;
}

/* StackOverflow about centering using Flexbox = https://stackoverflow.com/questions/25311541/how-to-vertically-align-text-inside-a-flexbox */
.center-content {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

img:hover {
	cursor: pointer;
}

.no-cursor:hover {
	cursor: default;
}

.opaque {
	opacity: 0.5;
}

.one-third-col {
	display: block;
	height: 100%;
	width: calc(100%/3);
}

.small-row {
	height: 25%;
	width: 100%;
	display: flex;
}

.large-row {
	height: 50%;
	width: 100%;
	display: flex;
}

.large-text {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 100pt;
	height: 100%;
	display: flex;
}

.medium-text {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 30pt;
	color: white;
	display: flex;
}
/* The classes below are used to fix the basketballs in the four corners of the screen */
/* CSS postion property = https://www.w3schools.com/css/css_positioning.asp */
.fixed-corner-tl {
	position: fixed;
	top: 0;
	left: 0;
}

.fixed-corner-tr {
	position: fixed;
	top: 0;
	right: 0;
}

.fixed-corner-bl {
	position: fixed;
	bottom: 0;
	left: 0;
}

.fixed-corner-br {
	position: fixed;
	bottom: 0;
	right: 0;
}

.basketball {
	width: 100px;
	height: 100px;
	content: url(../image/black_ball.png);
}